<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Om mig</h2>
                    <h3 class="section-subheading text-muted">En summering om mina erfarenheter.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2017-2020</h4>
                                    <h4 class="subheading">Landskapsingenjörsutbildning</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Jag studerade på SLU i Alnarp, där jag har fick lära mig allt ifrån växter till betong. Det var här mitt intresse för planering och projektering började som har drivit mig som landskapsingenjör.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Juni-Augusti 2019</h4>
                                    <h4 class="subheading">Sommarjobb på Malmö stad</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Arbetade på Malmö stads fastighets och gatukontor. Under min tid på kommunen utförde besiktningar, tillsyner och hanterade kundärenden.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2013-2017</h4>
                                    <h4 class="subheading">Barnskötare</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Ansvarade för IKT och naturvetenskap. Var med i ett och gestaltade delar av en förskolegård via Malmö stads utvecklingsprojekt Gröna skolgårdar.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2012-2013</h4>
                                    <h4 class="subheading">GMU och FOK</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Gjorde min utbildning på Lv6 i Halmstad. Fortsatte med fördjupande officers kurser med fokus på ledarskap i grupp.</p>
                                </div>
                            </div>
                        </li>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
